a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.btn-badge {
  padding: 0.3rem 0.8rem;
  border: none;
  border-radius: 100px;
  background-color: var(--color-blue);
  color: var(--color-light);
}

.apple-logo,
.icon-search,
.icon-bag {
  margin-top: 0.2rem;
  background: url("/Airpodspro/src/assets/airpodstrack/0001.png");
}
